a {
  text-decoration: none;
  color: #81a2be;
}

body {
  font-family: sans-serif;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 16px;
  background-color: #1d1f21;
  color: #c5c8c6;
  padding: 0 10px;
  text-align: left;
}
